:root {
    --logo--font: 'PT Serif', serif;
    --headding--font:  'Passions Conflict', cursive;
    --head--font:  'Lobster', cursive;
    --underline--color: #81d8d0;
}

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}






/* CSS */

.header-top__body {
    display: flex;
    align-items: center;
}

.header-top__menu {
    display: none;
    font-size: 1.6rem;
}

.header-top__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-top__link {
    text-decoration: none;
}

.header-top__item {
    color: rgb(95, 92, 92);
    padding-right: 20px;
    font-size: 0.9rem;
}

.header-top__icon {
    width:20px;
}

.logo {
    text-align: center;
    font-family: var(--logo--font);
    font-size: 1.2rem;
}

.logo__link {
    text-decoration: none;
}

.logo__link h1 {
    color: #333;


}

.top-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.top-right__link {
    text-decoration: none;
}

.top-right__item {
    color: #333;
    font-size: 0.9rem;
    padding-left: 20px;
}

.top-right__item:hover,

.header-top__item:hover {
    color: black;
    transform: scale(1.1);
    transition: all linear 0.15s;

}


/* navbar */

.navbar {
    z-index: 2;
}

.navbar-body__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 60px;
}

.navbar-body__link {
    text-decoration: none;
    color: #333;
}

.navbar-body__item {
    position: relative;
    font-size: 1rem;
    margin: 0px 30px;
}

.navbar-body__item:hover {
    color: black;
    /* transform: scale(1.1); */
    transition: all linear 0.15s;
}

/* banner */


#header-banner {
    margin-top: 30px;
    position: relative;
}

.header-banner__img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.header-banner__content {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 40%;
}

.header-banner__content-link {
    text-decoration: none;
    color: #333;
    
}

.header-banner__content-headding {
    font-size: 5rem;
    font-family:var(--headding--font);
    font-weight: 500;
}

.header-banner__content-para {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 16px;
}

.header-banner__content span {
    color: black;
    font-size: 1rem;
    padding: 20px 10px 4px 0;
    font-weight: 600;
}

.header-banner__content i {
    font-size: 0.8rem;
}


/* section  */

.section {
    padding: 60px 0;
    text-align: center;
}

.section__headding {
    font-family: var(--head--font);
    font-size: 1.7rem;
}

.section__des {
    font-size: 0.9rem;
    margin: 12px 0;
    line-height: 1.6;
}

.section-line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px ;
}

.line {
    margin-bottom: 50px;
    border-bottom: 2px solid cornflowerblue;
    width: 25%;
    margin: 20px 10px;
}

.line-icon {
    font-size: 1.3rem;
    color: cornflowerblue;
}




/* best sell */

.slider-item__link {
    margin-top: 24px;
    position: relative;
}

.slider-item__img:hover {
    filter:brightness(0.8) ;
    margin-top: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.slider-item__img {
    display: block;
    width: 100%;
    margin-top: 1px;
    transition: all linear 0.15s;
}



/* what new */

.what-new__item-body {
    background-color: rgb(248, 248, 248);
}

.what-new__item {
    transition: all linear 0.2s;
}

.what-new__img {
    display:block;
    width: 100%;
    transition: all linear 0.2s;
}

.what-new__text {
    text-align: center;
}

.what-new__headding {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px 0;
}

.what-new__des {
    font-size: 1rem;
    color: #333 ;
    line-height: 1.4;
}

.what-new__more {
    color: #333;
    font-size: 1.2rem;
    padding: 16px 0 30px 0;
}

/* crystal */

.crystal__main {
    background-color: rgb(248, 248, 248);
    display: flex;
    
}

.crystal__img {
    width: 50%;
    justify-self: flex-end;
    order: 2; 
    object-fit: cover;
}

.crystal__text {
    order: 1;
}

.amethyst__headding,
.crystal__headding {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    font-family: var(--headding--font);
    margin-top: 13%;
    color: black;
}


.crystal__para {
    border-top: 1px solid cornflowerblue;
    font-size: 1rem;
    margin-left: 5%;
    line-height: 1.4;
    padding-top: 20px;
    margin-top: 8px;
}



/* amethyst */


.amethyst__body {
    display: flex;

}

.amethyst__img {
    width: 40%;
}

.amethyst__text {
    text-align: center;
    width: 50%;
    margin-top: 60px;
}

.amethyst__headding {
    margin-top: 0;
}

.amethyst__para {
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}

.amethyst__btn {
    margin: 30px 0;
    font-size: 1rem;
    border: none;
}

.amethyst__btn a {
    display: block;
    padding: 12px 38px;
    color: #333;
    text-decoration: none;
    transition: all linear 0.2s;
}

.amethyst__btn a:hover {
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: cornflowerblue;
}



/* diamond */


.diamond__body:hover {
    background-color: rgb(218, 218, 218);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.diamond__body {
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 24px;
    transition: all linear 0.2s;
}

.diamond__link {
    text-decoration: none;
    color: #333;
}

.diamond__headding {
    font-size: 1rem;
    padding: 20px 0;
}

.diamond__img {
    margin-bottom: 20px;
}


/* category */

.category__container {
    margin-bottom: 60px;
}

.category__img:hover {
    filter:  brightness(0.8);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category__img {
    display: block;
    width: 100%;
    transition: all linear 0.2s;
}

.category__link {
    text-decoration: none;
    color: #333;
}

.category__text {
    font-size: 1rem;
    text-align: center;
    padding: 15px 0;
}


/* experience */

.experience {
    background-color: rgb(240, 237, 237);

}

.experience__container {
    margin-top: 20px;
}

.experience__headding {
    font-size: 1.8rem;
    font-family: var(--head--font);
    text-align: center;
    padding: 20px 0;
}

.experience__body {
    text-align: center;
    padding: 50px 0;
}

.experience__icon {
    font-size: 2rem;
    color: rgb(65, 64, 64);
    margin: 12px 0;
}


.experience__head {
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}

.experience__para {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 12px 0;
}

.experience__link {
    color: black;
    font-size: 1.1rem;
}



/* footer */

.footer__container {
    border-top: 3px solid cornflowerblue ;
    margin-top: 40px;
}

.footer__body {
    padding: 40px;
}

.footer__headding {
    font-size: 1rem;
    color: black;
    margin: 12px 0;
}

.footer__text {
    font-size: 0.9rem;
    color: #333;
    text-align: justify;
    line-height: 1.4;
}

.footer__link {
    color: cornflowerblue;
}

.footer__item-input {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.footer__item-input-item {
    position: relative;
}

.footer__item-input label {
    position: absolute;
    top: 25%;
    font-size: 0.8rem;
    color: rgb(108, 106, 106);
}
.footer__item-input input {
    border: none;
    border-bottom: 1px solid cornflowerblue ;
    outline: none;
    width: 100%;
    padding: 12px 0;
}

.product__btn,
.footer__item-input button {
    margin-top: 20px;
    width: 50%;
    font-size: 1rem;
    padding: 10px 0 ;
    border: none;
    transition:  all linear 0.2s;
}

.product__btn:hover,
.footer__item-input button:hover {
    background-color: cornflowerblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
}

.footer__item-input input:hover .footer__item-input label {
    top: 0;
}


.footer__list {
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.footer__list-item {
    padding: 12px 0;
    transition: all linear 0.15s;
}

.footer__list-item:hover {
    color: cornflowerblue;
}

.footer__img {
    display: block;
    width: 100%;
    margin-right: 40px;
}



/* Celebrate */


.Celebrate__img img {
    display: block;
    width: 100%;
}

/* style */

.yourself__content,
.style__content {
    position: relative;
    margin-bottom: 60px;
}

.yourself__content img,
.style__content img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.yourself__text,
.style__text {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 40%;
}

.yourself__headding,
.style__headding {
    font-size: 4rem;
    font-family: var(--headding--font);
    font-weight: 400;
}

.yourself__para,
.style__para {
    font-size: 1rem;
    color: #333;
}


/* sale */

.sale {
    position: absolute;
    top: 11px;
    right: 0;
    background-color: cornflowerblue;
    transform: rotate(270deg);
}

.sale p {
    padding:10px  12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

/* yoursel */

.yourself__content {
    margin-top: 60px;
}


/* fluid */

.fluid__body {
    display: flex;
    align-items: center;
    margin: 20px 0; 
}

.fluid__link {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.fluid__his {
    padding: 12px 12px 12px 0; 
}



/* filter */

.filter {
    margin-bottom: 100px;
}

.filter__body {
    z-index: 1;
    position: relative;
}

.filter__text {
    font-size: 1rem;
    color: #333;
    padding: 12px 0;
}


/* filter menu */
/* 
.filter__menu::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -9px;
    height: 20px;
    /* background-color: black; */


.filter__menu {
    list-style: none;
    color: #333;
    font-size: 0.9rem;
    background-color: rgb(232, 229, 229);
    padding: 10px;
    position: absolute;
    top: 100%;
    box-shadow: rgba(39, 38, 38, 0.2) 0px 7px 29px 0px;
    /* transition: all linear 0.2s; */
    animation: fadeIn 0.2s linear;
    display: none;
}

.filter__item {
    padding: 3px 0;
}

.filter__item input {
    width: 14px;
    height: 14px;
}   


.filter__text:hover ~ .filter__menu {
    display: block;
}

@keyframes  fadeIn {
    to {
        opacity: 0;
        top: calc(100% + 30px);
        
    }
    from {
        opacity: 1;
        top: calc(100% + 4px);
    }
}

.product__quantity {
    font-size:1rem ;
    color: #333;
    padding: 12px 0;
}

.center {
    text-align: center;
}

.product__btns {
    text-align: center;
}

.product__btn {
    width: 30%;
    padding: 18px 40px ;
}
    


/* -------------- about -------------- */
#container {
    position: relative;
    /* height: 500px; */
    margin-bottom: 150px;
}


.mr {
    text-align: end;
    padding-right: 20px;
    padding-top: 40px;
}

.ml {
    margin-left: 20px;
    padding-top: 20px;
    text-align: start;
}

.time-line__content {
    position: relative;
}

.time-line__content::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    z-index: 1;
    position: absolute;
    top: 50px;
    right: -7px;
}

.time-line__content2 {
    position: relative;
}

.time-line__content2::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    z-index: 1;
    position: absolute;
    top: 30px;
    left: -7px;
}

.time-line__body2,
.time-line__body {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 12px;
    text-align: end;
    width: 85%;
    padding: 25px;
    border-radius: 6px;
    transition: all ease-in-out 0.3s;
    background-color: var(--underline--color);
}

.time-line__body2 {
    text-align: start;

}


.time-line__item {
    margin: 20px 0;
}

.time-line__heading {
    font-size: 1.4rem;
    font-family: var(--head--font);
    margin-bottom: 12px;
    text-decoration: underline;
}

.time-line__para {
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}


.time-line__img2 .img,
.time-line__img1 .img {
    margin-top: 82px;
    margin-left: 12px;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
    height: 300px;
    transition: all ease-in-out 0.3s;
}


.time-line__img2 .img img,
.time-line__img1 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.time-line__img2 .img {
    margin-left: auto;
    margin-right: 12px;
}

.time-line__body2 {
    margin-right: auto;
    margin-left: 12px;
}


.time-line__img2 .img:hover,
.time-line__img1 .img:hover,
.time-line__body2:hover,
.time-line__body:hover {
    transform: scale(1.03);
    box-shadow: rgba(79, 79, 83, 0.2) 0px 7px 29px 0px;
}


.time-line__item-img {
    width: 100%;
    height: 250px;
}

.time-line__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* -------------- about end -------------- */




/* --------------------------- contact ----------------------------  */

.contact {
    margin-top: 60px;
    margin-bottom: 30px;
}

.contact-heading {
    font-family: var(--head--font);
    font-size: 2rem;
}

.m {
    margin: 12px;
}

.map {
    margin-top: 40px;
    width: 100%;
    height: 500px;
}

.map iframe {
    height: 100%;
    width: 100%;
} 


.contact--info {
    list-style: none;
    margin-top: 50px;
}

.contact--info-item {
    display: flex;
    align-items: center;
    margin: 26px 0;
}

.contact--info-icon {
    font-size: 1.8rem;
    display: block;
    text-align: start;
    width: 50px;
}

.contact--info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact--info-content span {
    font-size: 1.1rem;
    font-weight: 600;
}

.contact--info-content p {
    font-size: 1rem;
    color: #333;
    margin: 12px 0;
}

.control {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px ;

}

.control span {
    font-size: 0.9rem;
    color: rgb(237, 43, 43);
    margin-top: 5px;
    visibility: hidden;
}

.control-icon {
    font-size: 1rem;
    color: rgb(237, 43, 43);
    position: absolute;
    top: 26%;
    right: 12px;
    visibility: hidden;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form input{
    border: 1px solid #ccc;
    padding: 12px 6px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}

#form input:focus {
    border: 1px solid var(--underline--color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.l {
    margin-left: 24px;
}

#message {
    height: 200px;
    
}

#message::-webkit-input-placeholder {

}

.control label {
    font-size: 1rem;
    color: rgb(113, 109, 109);
    margin-bottom: 6px;
    margin-left: 6px;
}

.btn {
    font-size: 1rem;
    background-color: #81d8d0;
    border-radius: 5px;
    border: none;
    padding: 12px 0;
    width: 100%;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn:hover {
    background-color: #45e5d5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* --------------------------- contact end ----------------------------  */




/*------------------------------ sign -----------------------------------*/

.sign {
    margin: 200px 0;
    position: relative;
    height: 100%;
}

.p {
    padding: 0;
    margin-bottom: 40px;
}

#form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-sign {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 80%;
    position: relative;
    
}

.control-sign label {
    font-size: 1rem;
    color: rgb(150, 145, 145);
    position: absolute;
    transform: translateY(14px);
}


.control-sign input{
    border: none;
    outline: none;
    padding: 12px 6px;
    font-size: 1rem;    
    border-bottom:  1px solid var(--underline--color);
}

.control-sign span {
    font-size: 0.9rem;
    margin-top: 4px;
    color: red;
    visibility: hidden;
}   

.sign-link {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 30px;

}

.forgotPassword {
    color: black;
    font-weight: 600;
    transition: all ease-in-out 0.2s;
}

.forgotPassword:hover {
    color: #81d8d0;
}


.w {
    width: 80%;
    text-decoration: none;
    text-align: center;
}

.or {
    font-family: var(--head--font);
    font-size: 2rem;
    margin: 59px 0;
}

/*------------------------------ end sign -----------------------------------*/

/*---------------------------- bag------------------------- */

.bag {
    margin: 100px 0;
}

.bag-list {
    padding-right: 100px;
}

.bag-list h1 {
    font-family: var(--head--font);
}

.bag-list h2 {
    transition: all ease-in-out 0.2s;
    display: block;
    margin-bottom: 20px;
}

.bag-list h2 span {
    color: #333;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}


.bag-list h2:hover,
.bag-list h2 span:hover {
    color: #45e5d5;
}

.bag-item {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #ccc;
    padding: 28px 0;
    font-size: 1rem;
    color: #333;
}

.bag-img {
    cursor: pointer;
    width: 140px;
    height: 140px;
}   

.bag-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bag-content {
    flex: 1;
    margin-left: 20px;
}

.size,
.bag-des {
    display: block;
    margin-bottom: 12px;
}

.size span {
    margin-right: 100px;
}


#form3 {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#form3 select {
    border: none;
    outline: none;
    margin-right: 50px;
}

#form3 #cars {
    width: 90px;
}

.bag-check {
    padding: 30px;
    border-radius: 5px;
    background-color: #f1f1f1;
} 

.bag-check__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.bag-check__line span {
    font-size: 1rem;
    color: #333;
}

.mt {
    border-top: 1px solid #ccc;
    padding-top: 40px;
    margin-bottom: 60px;
}











/*---------------------------- end bag------------------------- */






.sign::after,
#container::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--underline--color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 1px);
}



/* --------------------- detail ---------------------------------- */

.detail {
    margin: 80px 0 0px 0;
}

.detail-left__img {
    width: 110px;
    height: 110px;
    margin: 30px 20px 30px 80px;
    
}


.detail-left__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.width {
    margin: 0;
    width: 680px;
    height: 680px;
}

.detail-right {
    padding: 24px;
}

.detail-right span {
    font-size: 1rem;
}

.detail-right h1 {
    font-size: 2rem;
    font-weight: 500;
}

.detail-right__text {
    font-size: 1rem;
    color: #333;
}

.detail-right__price {
    padding: 20px 0px;
    font-size: 1rem;
    color: #333;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ccc ;
    border-top:1px solid #ccc ;
}


.detail-right__headDes {
    font-size: 1rem;
    color: rgb(105, 101, 101);
    margin-top: 30px;
}

.detail-right__des {
    font-size: 1.1rem;
    margin: 20px 0;
    line-height: 1.4;
    color: rgb(105, 101, 101);

}

.detail-right__desList {
    padding-left: 20px;
    color: rgb(105, 101, 101);

}

.detail-right__desItem {
    font-size: 1rem;
    margin: 12px 0;
}

.a {
    margin-top: 100px;
}


/* --------------------- detail ---------------------------------- */



/* -------------------------faq------------------------------------ */

.faq {
    margin: 100px 0;
}


.faq__heading {
    font-family: var(--head--font);
    margin-bottom: 30px;
}

.fag-list {
    border-top : 1px solid #ccc;
    border-left : 1px solid #ccc;
    border-right : 1px solid #ccc;
    color: rgb(106, 103, 103);
    list-style: none;
    font-size: 1rem;
}

.fag-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    transition: all ease-in-out 0.3s;
}

.fag-item:hover {
    background-color: rgba(68,228,212, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fag-item__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
}

.fag-item__toggle .up {
    display: none;
}

.fag-item__toggle.active .up {
    display: block;
}

.fag-item__toggle.active .down {
    display: none;
}

.fag-item__text {
    display: none;
    text-align: justify;
    padding: 20px;
    line-height: 1.4;
    animation:  fade 0.3s linear ;
}


@keyframes fade {
    0% {
        padding-top: 0px;
        opacity: 0;
    }
    100% {
        padding-top: 30;
        opacity: 1;
    }
}


@keyframes fade {
    0% {
        padding-top: 0px;
        opacity: 0;
    }
    100% {
        padding-top: 30;
        opacity: 1;
    }
}


.click {
    display: block;
}

#navbar.block {
    display: block;
}

.register-container {
    margin: 50px 0;
}

.register-container  h1 {
    font-size: 1.8rem;
    font-family: var(--head--font);
}

.register-container p {
    font-size: 0.9rem;
    color: rgb(116, 112, 112);
    text-align: justify;
    line-height: 1.4;
}

.question {
    margin: 30px 0 50px 0;
    color: #333;
    font-size: 0.9rem;
}

.question span {
    margin-right: 50px;
    font-weight: 600;
}

.register-body span {
    font-size: 1rem;
    color: #333;
}

.register-option {
    margin: 20px 0;
}

.register-option label:first-child{
    margin-right: 50px;
}

#form4 {
    display: flex;
    flex-direction: column;
}

#form4 input {
    padding: 12px;
    margin: 16px 0;
    color: rgb(123, 119, 119);
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.m {
    width: 100%;
    margin: 30px 0;
}

.register-img img {
    width: 100%;
    object-fit: cover;
}

/* -------------------------faq end------------------------------------ */

.hide {
    display: none;
}